{% extends 'base.html' %}

{% block header %}
    Unser Angebot:
{% endblock %}

{% block content %}
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Produkt 1</h5>
                <p class="card-text">Beschreibung des Produk
                </p>
                <a href="#" class="btn btn-primary">Kaufen</a>
            </div>
        </div>
    </div>
    
{% endblock %}