{% extends "base.html" %}

{% block header %}
    Über uns
{% endblock %}

{% block content %}
    <p>Wir sind ein mittelständisches Unternehmen, das sich auf die Herstellung von Produkten spezialisiert hat. Unser Firmensitz befindet sich in Musterstadt. Wir sind stolz darauf, dass unsere Produkte in Deutschland hergestellt werden. Wir legen großen Wert auf Qualität und Nachhaltigkeit. Unsere Produkte sind in vielen Geschäften in Deutschland erhältlich. Wir freuen uns, dass Sie sich für unsere Produkte interessieren.</p>
{% endblock %}

